Fact-checking organizations have become an important institute for conatining the spread of mis-information (via social channels) Following are the tweets made by twitter handles of these fact-checking organization. 

* These tweets are taken from 1st Dec 2019 to 2nd June 2020 
* Tweets of more than 44 fact checking accounts were gathered
* Total tweets 85k+ 
* As is evident from our hashtag analysis - most of the fact checking was about the Covid19 pandemic 

*Note: This notebook was executed in a Kaggle notebook, to replicate it please note the links to the original notebook & dataset*

Notebook Link: https://www.kaggle.com/skylord/some-initial-analysis

Kaggle Dataset: https://www.kaggle.com/skylord/fact-checker-tweets

In [0]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from collections import Counter

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/fact-checker-tweets/AllTweets_Dec2019_June2020.csv
/kaggle/input/fact-checker-tweets/USER_ID.txt

In [0]:
allTweets = pd.read_csv('/kaggle/input/fact-checker-tweets/AllTweets_Dec2019_June2020.csv')
print(allTweets.shape)
print(allTweets.columns)
allTweets.head()

(85622, 34)
Index(['id', 'conversation_id', 'created_at', 'date', 'timezone', 'place',
       'tweet', 'hashtags', 'cashtags', 'user_id', 'user_id_str', 'username',
       'name', 'day', 'hour', 'link', 'retweet', 'nlikes', 'nreplies',
       'nretweets', 'quote_url', 'search', 'near', 'geo', 'source',
       'user_rt_id', 'user_rt', 'retweet_id', 'reply_to', 'retweet_date',
       'translate', 'trans_src', 'trans_dest', 'Region'],
      dtype='object')

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,conversation_id,created_at,date,timezone,place,tweet,hashtags,cashtags,user_id,...,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,Region
0,1267487446809313282,1267487446809313282,1591027530000,2020-06-01 16:05:30,UTC,NaN,"Aarti Lalchandani, principal of GVSM Medical C...",['#altnewsfactcheck'],[],717020664587227136,...,NaN,NaN,NaN,NaN,"[{'user_id': '717020664587227136', 'username':...",NaN,NaN,NaN,NaN,Others
1,1267108282164019202,1267108282164019202,1590937130000,2020-05-31 14:58:50,UTC,NaN,Times Now played three videos during a show on...,['#altnewsfactcheck'],[],717020664587227136,...,NaN,NaN,NaN,NaN,"[{'user_id': '717020664587227136', 'username':...",NaN,NaN,NaN,NaN,Others
2,1266732527227744256,1266732527227744256,1590847543000,2020-05-30 14:05:43,UTC,NaN,A video of an incident from Surat has been sha...,['#altnewsfactcheck'],[],717020664587227136,...,NaN,NaN,NaN,NaN,"[{'user_id': '717020664587227136', 'username':...",NaN,NaN,NaN,NaN,Others
3,1266671072671391744,1266671072671391744,1590832891000,2020-05-30 10:01:31,UTC,NaN,A video showing poor condition of Mumbai's KEM...,['#altnewsfactcheck'],[],717020664587227136,...,NaN,NaN,NaN,NaN,"[{'user_id': '717020664587227136', 'username':...",NaN,NaN,NaN,NaN,Others
4,1266653343767597057,1266653343767597057,1590828665000,2020-05-30 08:51:05,UTC,NaN,"Criticising journalists on COVID-19 reporting,...",['#altnewsfactcheck'],[],717020664587227136,...,NaN,NaN,NaN,NaN,"[{'user_id': '717020664587227136', 'username':...",NaN,NaN,NaN,NaN,Others

In [0]:
username = Counter(allTweets['username'])
print(len(username))
username.most_common(10)

44

[('observadorpt', 19714),
 ('lemondefr', 15486),
 ('Newtral', 7255),
 ('snopes', 5746),
 ('boomlive_in', 4190),
 ('free_thinker', 3087),
 ('ZDDK_', 2941),
 ('PolitiFact', 2816),
 ('Chequeado', 2435),
 ('oko_press', 1896)]

In [0]:
# Collapsing the list
# https://stackoverflow.com/questions/952914/how-to-make-a-flat-list-out-of-list-of-lists
# flat_list = [item for sublist in l for item in sublist]

hashtags = list(set(allTweets['hashtags'].apply(lambda x: x.replace("[",'').replace("]", '').replace("'", ""))))
print(len(hashtags))

temp = [text.split(',') for text in hashtags]
flat_hashtag = [item.strip() for sublist in temp for item in sublist]
flat_hashtag[:10]

8854

['',
 '#ozeanerwärmung',
 '#messungen',
 '#weltmeere',
 '#ozeane',
 '#betrug',
 '#fake',
 '#amazon',
 '#marketplace',
 '#rdc']

In [0]:
hashtags_C = Counter(flat_hashtag)
hashtags_C.most_common(20)

[('#coronavirus', 1624),
 ('#fakenews', 1284),
 ('#covid19', 1158),
 ('#boomfactcheck', 922),
 ('#coronavirusfacts', 759),
 ('#faktencheck', 445),
 ('#facebook', 430),
 ('#coronavirusitalia', 199),
 ('#covid19italia', 175),
 ('#corona', 165),
 ('#whatsapp', 156),
 ('#thema', 151),
 ('#fake', 145),
 ('#covid_19', 142),
 ('#video', 121),
 ('#coronavirusoutbreak', 120),
 ('#factcheck', 111),
 ('#factchecking', 108),
 ('#lockdown', 107),
 ('#datoscoronavirus', 107)]